[submodule "summer-practice-front"]
	path = summer-practice-front
	url = https://github.com/abshnko/summer-practice-front.git
[submodule "SiteBack"]
	path = SiteBack
	url = https://github.com/LekoevNVK/SiteBack.git
[submodule "htr__test_bot"]
	path = htr__test_bot
	url = https://github.com/nikitka1234/htr__test_bot.git
